

body {
  max-width: 1200px;
  margin: auto;
  background-image: url(../images/bg.jpg) ;
}

h1{
  text-align: center;
  color: limegreen;
}

img{
    width: 9rem;
    height: auto;
    object-fit: cover;
    margin: 0.5rem;
    border: 0.2rem solid white;
}


.galerie{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.galerie>img{
  filter: grayscale(5);
}

img:hover {
  filter: none;
  transition: 0.9s;
  transform: scale(1.1)
}